.search-field {
    max-width: 50%;
}
.btn--filter {
    background: none;
    color: #4A81BC;
    font-size: 12px;
    border: 1px solid #4A81BC;
    height: auto;
    line-height: 1;
    padding: 5px;
    margin-right: 3px;
}
.btn--filter--active {
    background: #4A81BC;
    color: #fff;
}
.btn--filter:hover {
    background: #4A81BC;
    color: #fff;
}