.todo-list-item {
    padding: .5rem .75rem;
    border-bottom: 1px solid #dedede;
}

.todo-list-item:last-child {
    border: none;
}
.todo-list-item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-item-text {
    font-size: 20px;
}
.todo-item-text--done {
    text-decoration: line-through;
}
.todo-item-text--important {
    color: #f44336;
    font-weight: 500;
}
.button-group {
    display: flex;
    justify-content: flex-end;
}
.button-group .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: none;
    box-shadow: none;
    margin-right: 10px;
    padding: 5px;
}
.button-group .btn i {
    line-height: 1;
}
.btn--remove {
    background: #f44336;
    border: 2px solid #f44336;
}
.btn--remove i {
    color: #f44336;
}
.btn--remove:hover {
    background: #f44336;
}
.btn--remove:hover i {
    color: #fff;
}

.btn--highlight {
    background: #009688;
    border: 2px solid #009688;
}
.btn--highlight i {
    color: #009688;
}
.btn--highlight:hover {
    background: #009688;
}
.btn--highlight:hover i {
    color: #fff;
}