.app-header {
    text-align: center;
    padding: 20px;
    background-color: #009688;
    background-color: #333;
}
.app-main-title {
    font-weight: 300;
    color: #fff;
    margin: 0;
    font-size: 45px;
}